.movies {
  flex-grow: 1;
}
.movies__loadmore {
  margin: 50px 0 80px 0;
  width: 100%;
  padding: 11px 0 9px 0;
  background: #2f2f2f;
  border: none;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
