.profile {
  display: flex;
}
.profile__heading {
  margin: 0;
  padding: 74px 0 123px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 410px;
  margin: 0;
  padding: 0;
  border: none;
}

.profile__user-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.profile__handlers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 220px 0 0 0;
  border: none;
}

.profile__label {
    display: flex;
    align-items: center;

}
.profile__input {
    width: 100%;
  margin: 0;
  padding: 16px 0 17px 0;
  border: none;
  background-color: #202020;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  text-align: end;
}

.profile__input-caption {
  top: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  white-space: nowrap;
}

.profile__label:first-child {
  border-bottom: 1px solid #424242;
}

.profile__error-message {
  display: none;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #ff004c;
}

.profile__edit-button {
  width: 100%;
  margin-bottom: 16px;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.profile__edit-button:disabled { 
  background-color: transparent;
  color: #ffffff;
}

.profile__submit-button {
  display: none;
  width: 100%;
  cursor: pointer;
  background: #4285f4;
  border: 0;
  border-radius: 3px;
  padding: 13px 0 15px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.profile__logout-button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  cursor: pointer;
}
