.main {
    color: white
}

.screen-heading {
    margin: 0;
    padding: 110px 0 0 0;
    padding-bottom: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #dadada;
  }