.portfolio__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #424242;
  padding-bottom: 19px;
}

.portfolio__item:last-child {
    border-bottom: none;
    padding-bottom: 125px;
}

.portfolio__site {
  padding-top: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}
/* 
.portfolio__arrow {
    width: 29px;
    height: 60px;
} */