.header {
  background-color: #073042;
  color: white;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 18px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__link_green {
  margin-left: 30px;
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
  background-color: #3ddc84;
  color: black;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}


