.header {
  background-color: #073042;
  color: white;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 18px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__link_green {
  margin-left: 30px;
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
  background-color: #3ddc84;
  color: black;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 75px 0 84px 0;
}

.header__title {
  width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.header__subtitle {
  width: 380px;
  margin-top: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header__globe {
  height: 304px;
  width: 309.9998474121094px;
}

.header__button {
  margin-bottom: 75px;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}
