.register {
  width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  color: white;
}

.register__logo {
  padding: 70px 0 40px 0;
}
.register__heading {
  margin: 0;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.register__form {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.register__user-data {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.register__label {
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.register__input {
  padding: 15px 0 15px 15px;
  margin-bottom: 20px;
  background-color: #2f2f2f;
  border: none;
  border-radius: 8px;
}

.register__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.register__input:last-child {
  margin-bottom: 10px;
}

.register__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.register__handlers {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.register__submit {
  margin: 69px 0 0 0;
  cursor: pointer;
  background: #4285f4;
  border: 0;
  border-radius: 3px;
  padding: 13px 0 15px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.register__login {
  padding: 16px 0 70px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.register__login-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
}
