.footer__heading {
  margin: 0;
  padding: 79px 0 20px 0;
  border-bottom: 1px solid #424242;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
}

.footer__nav {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer__copy {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__list {
  margin: 0;
  list-style: none;
  display: flex;
}

.footer__listitem {
  margin-left: 20px;
  color: white;
}

.footer__link {
  color: white;
  text-decoration: none;
}
